.channels ul {
  list-style: none;
}

.channelContainer {
  padding: 10px 0px 0px 20px;
}

.channelList {
  margin: 10px 0;
  display:flex;
  flex-direction: column;
}

.channelList li {
  cursor: pointer;
}

.addChannel {
  border: none;
  color: #fff;
  background-color: transparent;
  margin-bottom: 5px;
  cursor: pointer;
}

.channelOptions {
cursor: pointer;
}

.channelOptions button {
  cursor: pointer;
}

.createChannel {
  padding: 20px;
  background-color: grey;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.createChannel input {
  margin: 5px 0;
}

.createChannel button {
  cursor: pointer;
}
