.channelContainer {
  padding: 5px 0px 0px 5px;
}

.channelList {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
}

.addChannel {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.addChannelText {
  margin-left: 4px;
}

.createChannel {
  background-color: grey;
  display: flex;
  width: 100vw;
  height: 100vh;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
}

.createChannel > div {
  display: flex;
  padding: 20px;
  flex-direction: column;
  border: 1px solid #000;
  position: relative;
}

.createChannel > div > input {
  margin: 10px 0;
  height: 40px;
}

.close {
  position: absolute;
  right: 5px;
  top: 5px;
}

.createChannel div > button {
  cursor: pointer;
}

.channels {
  text-decoration: none;
  color: #b39fb3;
}

.channelHeader > button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  color: #b39fb3;
}

.channelHeader {
  display: flex;
  font-size: 1rem;
  align-items: center;
}

.channelHeader p {
  pointer-events: none;
}

p {
  color: #b39fb3;
}

a {
  color: #b39fb3;
  text-decoration: none;

  cursor: pointer;
}

a:hover,
p:hover {
  color: white;
}
