.DMContainer {
  padding: 0px 0px 0px 15px;
}

.changeState {
  margin-top: 5x;

  display: flex;
}

.changeState button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
}
.messageList {
  margin-left: 25px;

  display: flex;
  flex-direction: column;
}

.messages {
  text-decoration: none;
  list-style: none;

  color: #b39fb3;
}

a:hover,
p:hover {
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
